@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3eeea;
    --text: #1f2421;
    --gray: #4d5061;
    --primary: #49a078;
    --secondary: #ff204e;
    --warning: #2a9d8f;
    --border: #dce1de;
  }

  .dark,
  :root[class~="dark"] {
    --background: #00224d;
    --text: #dff5ff;
    --primary: #ff204e;
    --secondary: #5debd7;
    --warning: #fff455;
    --gray: #83858c;
    --border: #83858c; /* remove this line */
  }
}

@layer base {
  body {
    @apply bg-background font-sans text-text antialiased;
  }

  .container {
    @apply mx-auto max-w-6xl;
  }

  .btn {
    @apply inline-flex h-10 items-center justify-center whitespace-nowrap rounded-md border bg-background px-4 py-2 text-sm  font-medium ring-offset-background transition-colors hover:text-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }

  p {
    @apply text-pretty text-lg text-gray md:text-xl;
  }

  p a {
    @apply text-justify text-secondary transition-all;
  }

  h6 {
    @apply text-xl font-medium text-primary md:text-3xl;
  }

  pre {
    @apply mx-1 inline-block rounded-lg bg-gray px-1 font-code text-base font-medium text-background;
  }
}

.scroll-watcher {
  @apply fixed bottom-0 left-0 z-50 h-1 w-full bg-primary;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
  scale: 0 1;
  transform-origin: left;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

.scroll-watcher {
  animation: none;
}

.section {
  scale: 0.8;
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry 200px;
}

@keyframes fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

::view-transition-new(blog-title),
::view-transition-old(blog-title) {
  @apply h-full;
}
