@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3eeea;
    --text: #333;
    --primary: #2c8ecd;
    --secondary: #e74c3c;
    --success: #28a745;
    --warning: #f39c12;
  }

  .dark,
  :root[class~="dark"] {
    --background: #00224d;
    --text: #dff5ff;
    --primary: #ff204e;
    --secondary: #008dda;
    --success: #28a745;
    --warning: #f39c12;
  }
}

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased;
  }

  a {
    @apply hover:text-secondary;
  }

  .container {
    @apply mx-auto max-w-6xl;
  }

  .btn {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2  focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border bg-background hover:text-primary h-10 px-4 py-2;
  }
}
